* { 
        margin: 0;
        padding: 0; 
}
body { 
        font: 16px Helvetica, Sans-Serif;
        line-height: 24px;
        background: url(images/noise.jpg);
} 
.clear { 
        clear: both; 
}
#page-wrap { 
        width: 800px;
        margin: 40px auto 60px; 
}
#pic { 
        float: right;
        /*margin: 5px 0 0 0; */
}
h1 { 
        margin: 0 0 16px 0;
        padding: 10px 0 16px 0;
        font-size: 42px;
        
        letter-spacing: -2px;
        border-top: 10px solid #999;
        border-bottom: 10px solid #999; 
}
#datadir td{
        font-size: 20px;
        font-family: Helvetica, Serif;
}
h3 { 
        font-size: 17px;
        margin: 0 0 6px 0;
        position: relative;
}
p { 
        margin: 0 0 10px 0; 
}
#objective { 
        width: 500px;
        float: left; 
}
#objective p { 
        font-family: Georgia, Serif;
        font-style: italic; 
}
dt { 
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        padding: 0 10px 0 0;
        width: 130px;
        float: left; 
        background-color: #999;  
}
dd { 
        border-right: 10px solid #999;
        width: 600px;
        float: left;
        padding-left: 50px;      
}
dd.clear { 
        float: none;
        margin: 0;
        height: 15px; 
}
#belbel{
        width: 100%;
        border-right: 10px solid #999;
        border-top: 10px solid #999;
        border-bottom: 10px solid #999;
        padding-top: 10px;"
}
